@media (max-width: 1080px) {
    .container {
        width: 100%;
    }
    .containerindex {
        width: 100%;
    }
    header {
        width: 100%;
    }
    header.container {
        width: 100%;
    }
    .hcontainer {
        width: 100%;
    }
    .fcontainer {
        width: 100%;
    }

    }

@media (max-width: 780px) {
    .textpresentation {
        width: 90%;
    }
    .imgpresentation {
        width: 90%;
        margin-top: 10px;
    }
    .listenav {
        display: none;
    }

    .burger {
        display: block;
        color: white;
        margin-top: 10px;
        font-size: 150%;
        position: absolute;
        right: 15px;
        cursor: pointer;
    }
    .burger:hover {
        transition: 0.1s;
        color: gray;
    }
    .block {
        width: 90%;
    }
    footer hr {
        display: none;
    }
}


@media (max-width: 600px) {

    .textcover {
        max-width: 90%;
        height: 25vh;
        
    }
    .cover {
        height: 45vh;
        margin-top: 50px;
    }
    .fin {
        padding-bottom: 30px;
    }
    
    .sidebarleft {
        width: 90%;
    }
    .sidebarleft ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        margin-top: 10px;
    }
    .sidebarleft li {
        margin-right: 10px;
    }
    .sidebarleft h3 {
        display :none
    }
    .showroom {
        width: 90%;
    }
    .showroompromo {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
    .promo {
        width: 80%;       
    }
    .produit {
        margin-top: 15px;
        width: 90%;
    }
    .barredroite {
        width: 90%;
    }
    .imgfiche {
        width: 90%;
    }
    .textinscription {
        width: 90%;
    }
    .forminscription {
        width: 90%;
    }
    .forminscription {
       text-align: center;
    }
    .forminscription label {
        float: none;
    }
}